.ui-dropdownchecklist
{
    height: 16px;
    border: 2px ridge #111;
    border-bottom: 1px solid #D4D0C8;
    border-right: 0px;
    background: #fff url(dropdown.png) no-repeat center right;
}

.ui-dropdownchecklist-text
{
    height: 16px;
    line-height: 16px;
    margin-right: 16px; /* background dropdown.png image */
}

.ui-dropdownchecklist-dropcontainer
{
    background-color: #fff;
    border: 1px solid #999;
    width: 148px;
}

.ui-dropdownchecklist-item
{

}

.ui-dropdownchecklist-item-hover
{
    background-color: DARKBLUE;
}

.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text
{
    color: #fff;
}

.ui-dropdownchecklist-group
{
    font-weight: bold;
    font-style: italic;
}

.ui-dropdownchecklist-indent
{
    padding-left: 20px;
}