/* special css instructions for opera */

DIV.mobIndexHeader {
  padding-bottom: 0px;
}

/* doesn't work with IE or Mozilla, but might as well use it here */
.dgMessageListThreadName DIV {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap; 
}

