html, body {
    margin:0px; padding:0px;
    background:#fff;
    position:relative;
}

td, body {
font-family:tahoma;
font-size:12px;
color:#000000;
}

a:active, a:link {
color:#1C58A9;
text-decoration:none;
}

a:visited {
color:#7b4473;
text-decoration:none;
}

a:hover{
color:#1C58A9;
text-decoration:underline;
}

.error_send {width:440px; margin:0 auto; margin-top:20px; line-height:normal;}
.error_send td {vertical-align:middle;}
.error_send .td1, .error_send .td3 {font-size:18px; font-weight:bold; padding-bottom:4px;}
.error_send .tarea1 {border:1px solid #a5acb2; background:#fff; width:440px; height:150px; padding:2px 2px 3px 3px; font-family:arial; font-size:14px; margin-bottom:13px;}
	
#error-overlay {background-color:#000; cursor:wait;}
#error-container {width:500px; background-color:#fff; border:3px solid #ccc;}
a.modalCloseImg {background:url("x0000000.png") no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}

.panel {font-family: Verdana, Arial, sans-serif;font-size: 8pt;}

.listtable tr.over {
    background: #fffeb8;
}

.thumb {	width: 160px;
	height: 202px;
	max-height: 202px;
	float: left;
	margin: 0.5em 1em 0.5em 0.5em;
	padding:0px;
	border-spacing: 2px;
	border: 1px solid #000;
	background-color: #F9F9F9;
}

.thumb_screen td {
	height: 128px;
}

.thumb_user {	font-family: Verdana,Arial,sans-serif;
	font-size: 8pt;
	text-align: center;
	vertical-align: top;
	height: 10px;
	padding: 3px;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.thumb_desc {	font-size: 10px;
	padding-left: 1px;
	vertical-align: top;
	height: 50px;
}

#tagcloud {
    width: 100%;
    background:#FFF;
    padding: 10px;
    text-align:center;
    margin-top:-25px;
}

#tagcloud span {
    padding: 4px;
}

.tagsmallest {
    font-size: x-small;
}

.tagsmall {
    font-size: small;
}

.tagmedium {
    font-size:medium;
}

.taglarge {
    font-size:large;
}

.taglargest {
    font-size:larger;
}

.videotext1 {
padding: 3px 0;
border: 1px solid;
width: 638px;
font: 12px tahoma;
background: #CECECE;
}

.videotext2 {
padding: 3px 8px;
display: block;
font: 12px tahoma;
text-align: left;
}

#videomain {
width: 640px;
display: block;
margin: 20px 0;
padding: 5px;
border: 1px solid #000;
text-align: center;
background-color: #EFEFEF;
}

#videoouter {
width: 860px;
border-top: 1px solid #000;
background-color: #CCC;
}

.faqorangetitle {
color:#E88A1C;
font-size:14px;
font-weight:bold;
}

.orangetitle {
font-family:tahoma;
font-weight:bold;
font-size:16px;
color:#E88A1C;
text-align: center;
margin: 20px 0px;
}

#questionlist {
color: #1C58A9;
font-weight: bold;
margin: 20px 40px;
padding: 0;
}
#questionlist li {
margin: 5px 0;
}

#faqquestion {
font-weight: bold;
margin: 5px 30px;
padding: 0;
list-style: none;
}

#faqquestion a, a:hover{
text-decoration: none;
color: black;
}


.answerlist {
font-family: Verdana;
font-size: 13px;
margin: 0px 15px;
padding: 0;
list-style: none;
}

.utiltitle {
color:#1C58A9;
font-size:14px;
font-weight:bold;
}

#utilmenu {
  margin:5px;
  padding:5px;
  background:#eee;
  border: solid #000000 1px;
  text-align:center;
  list-style:none;
}

#utilmenu li {
  display:-moz-inline-box;
  display:inline-block;
  margin:0 3px 3px;
  background:#F5F5F5;
  border:solid #CCCCCC 1px;
}

#utilmenu li a {
  display:inline-block;
  margin:0 3px 0 0;
  padding:5px 15px;
  text-decoration:none;
  color:#434343;
  vertical-align:bottom;
}

#utilmenu li:hover {
    border-color:#AAAAAA;
}

#utilmenu li a:hover {
  color:#E88A1C;
}

a.currentutil {
  font-weight:bold;
  color:#000000;
}

tr.download,td.download,table.download {
border-width:1px;
border-color:black;
border-style:solid;
border-collapse:collapse;
background-color:#FEFEFE;
font-family:Verdana,sans-serif;
}

th.downloadtitle {
border-width:1px;
border-color:black;
border-style:solid;
border-collapse:collapse;
color:#164884;
font-size:13px;
font-weight:bold;
text-align:center;
background-color:#F5F5F5;
}

th {
font-family:tahoma;
font-size:12px;
color:#FFFFFF;
background-color:#316DBE;
font-weight:bold;
}

input, select {
font-family:tahoma;
font-size:12px;
color:#000000;
}

form {
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
}

img {
border:0px;
}

p {
text-align:justify;
margin:0px;
}

div.stats {
display:inline;
height:0px;
left:-1000px;
margin:0px;
padding:0px;
position:absolute;
top:-1000px;
visibility:hidden;
width:0px
}

.rating_on {
background-color:#1C58A9;
}

.rating_off {
background-color:#C0C0C0;
}

.orangelink:link {
color:#E88A1C;
text-decoration:none;
}

.orangelink:visited {
color:#E88A1C;
text-decoration:none;
}

.orangelink:hover {
color:#E88A1C;
text-decoration:underline;
font-style: oblique;
}

.orangelink:active {
color:#E88A1C;
text-decoration:underline;
}

a.whitelinkclicked {
color:#FFFFFF;
text-decoration:none;
}

.whitelink:link {
color:#FFFFFF;
text-decoration:underline;
}

.whitelink:visited {
color:#FFFFFF;
text-decoration:underline;
}

.whitelink:hover {
color:#DDDDDD;
text-decoration:underline;
}

.whitelink:active {
color:#DDDDDD;
text-decoration:underline;
}

.whitetext {
font-family:tahoma;
font-weight:bold;
font-size:9.5px;
color:#FFFFFF
}

.orangetext {
font-family:tahoma;
font-weight:bold;
font-size:11px;
color:#E88A1C
}

.redtext {
font-family:tahoma;
font-weight:bold;
font-size:9.5px;
color:#FF0000;
text-align:center;
}

.bluetext {
font-family:tahoma;
font-weight:bold;
font-size:9.5px;
color:#164884
}

a.gamelink {
   cursor:pointer;
   color:red;
   font-size:13px;
   font-weight:bold;
}

a.hublink {
   cursor:hand;
   color:orange;
   font-size:13px;
   font-weight:bold;
}

a.menutext {
font-family:tahoma;
font-weight:bold;
font-size:10px;
text-decoration: none;
color:#164884;
background-color:#E4E7EE;
}

a.menutext:hover {
font-family:tahoma;
font-weight:bold;
font-size:10px;
text-decoration:none;
color:#E4E7EE;
background-color:#164884;
}

.borderredtext {
border-color:#164884;
background:white;
border-style:dashed;
border-width:1px;
font-family:tahoma;
font-weight:bold;
font-size:9.5px;
text-align:center;
color:#FF0000;
white-space:nowarp;
}

.borderbluetext {
border-color:white;
background:#1C58A9;
border-style:dashed;
border-width:1px;
font-family:tahoma;
font-weight:bold;
font-size:9.5px;
text-align:center;
color:#FFFFFF;
white-space:nowarp;
}

.bggray {
background-color:#CCCCCC
}

.bglitegray {
background-color:#EEEEEE;
}

.bgblue {
background-color:#1C58A9;
}

.bgwhite {
background-color:#FFFFFF;
}

.question {
background-color:#9999FF;
color:#FFFFFF;
}

.bgstripe1 {
background-color:#FFFFFF;
}

.bgstripe2 {
background-color:#F5F5F5;
}

.title {
color:#1C58A9;
font-size:17px;
font-weight:bold;
text-align:center;
}

.head {
color:#316DBE;
font-weight:bold;
}

.middlesmall {
font-size:11px;
}

.small {
font-size:10px;
}

.smallarticle {
font-size:12px;
font-family:Verdana,sans-serif;
}

.smallhead {
font-size:10px;
color:#316DBE;
font-weight:bold;
}

.red {
color:#DD3C3C;
}

.button {
color:#E88A1C;
background-color:#FFFFFF;
}

.button_clicked {
color:#FFFFFF;
background-color:#E88A1C;
font-weight:bold;
}

.button_over {
color:#FFFFFF;
background-color:#FBAF5D;
}

.catalog_header {
color:#FFFFFF;
background-color:#316DBE;
font-weight:bold;
text-align:left;
}

.fast_select_td {
color:#1C58A9;
}

.hide {
left:0px;
top:0px;
width:1px;
height:1px;
position:absolute;
visibility:hidden;
}

.commentarrow-next-horizontal {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(comment_.png) no-repeat 0 0;
}

.commentarrow-next-horizontal:hover {
    background-position: -32px 0;
}

.commentarrow-next-horizontal:active {
    background-position: -64px 0;
}

.commentarrow-next-disabled-horizontal,
.commentarrow-next-disabled-horizontal:hover,
.commentarrow-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.commentarrow-prev-horizontal {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(comment_.png) no-repeat 0 0;
}

.commentarrow-prev-horizontal:hover {
    background-position: -32px 0;
}

.commentarrow-prev-horizontal:active {
    background-position: -64px 0;
}

.commentarrow-prev-disabled-horizontal,
.commentarrow-prev-disabled-horizontal:hover,
.commentarrow-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
} 