/* ��������� ����� */

.mix_outer table {border-collapse:collapse;}
.mix_ad {padding:0;}
.mix_outer {margin: 0 .25em;}
.mix_outer td {padding:0;}
.mix_inter {border:1px solid #C7C7C7; margin:.5em .25em;}
.mix_outer .mix_head, .mix_outer .mix_desc, .mix_outer .mix_domain, .mix_outer .mix_img {padding:.5em;}
.mix_img {text-align:center;}
.mix_outer .mix_domain {padding-top:0;}
.mix_head a {font-size:110%}
.mix_clear {clear:both;}

/* ��� �������������� �������� */
.mix_horiz_table td {vertical-align:top;}
.mix_outer .mix_horiz_td .mix_inter {border:none; margin:0;}
.mix_outer .mix_horiz_td {padding: 0 .25em; border:1px solid;width:1%}

/* ��� ����� */

.mix_form {margin: 0; padding:0;}
.mix_form dl {margin: 1em; padding:0;}
.mix_form dt {margin: 0; padding:0;}
.mix_form dd {margin: 0; padding:0;}
.mix_field_text input, .mix_field_textarea textarea {width:100%}
.mix_field_radio dd {margin-left: 1.9em; text-indent: -1.9em;}
.mix_field_checkbox dd {margin-left: 1.9em; text-indent: -1.9em;}
.mix_field_select dt {display: inline}
.mix_field_select dd {display: inline; margin:0;}
.mix_field_select select {max-width: 100%}
.mix_error {color:#EE0000; font-style:oblique;}
.mix_field_header dt {margin-bottom: 1em;}
.mix_field_header dt strong {font-size:200%; font-weight:normal;}
.mix_field_captcha div {display:inline;}
.mix_field_captcha img {vertical-align:middle;}

/* /��������� ����� */