A:link {color:#06398E; TEXT-DECORATION: none}
A:visited {color:#04265E; TEXT-DECORATION: none}
A:active {color:#094DBD; TEXT-DECORATION: none}
A:hover {color:#094DBD; TEXT-DECORATION: underline}

H1{FONT-SIZE:10pt; COLOR:#666666; font-style: normal; line-height: 16px; font-weight: bold; margin: 0px; padding: 0px;}

#row1{
	border-bottom: 1px solid #CCCCCC;
	width: 100%;}

#col1{
	float: right;
	width: 22%;
	margin-left: 1%;
	padding: 1%;
	background-color: #043056;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	color: #FFFFFF;}

#col2{
	float: left;
	width: 70%;}
	
.new {color:#FF0000; TEXT-DECORATION: none}	
.TextTopPanel{
    text-align:center; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:oblique;
	font-size-adjust:inherit;	
	border-color:#000099}
.TextTopLow{
    border: #000 1px solid;
	text-align:center; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-style:oblique;
	font-size-adjust:inherit;	
	}	
.TextTop{
    border: #000 1px solid;
	text-align:center; 
	background-color:#B7C6E3;
	background-image:url(topfade2.png);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:oblique;
	font-size-adjust:inherit;	
	}
	
.TextTopOn{
    border: #000 1px solid;
	text-align:center; 
	background-color:#D7E6F3;
	background-image:url(topfade3.png);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:oblique;
	font-size-adjust:inherit;	
	}
.TextTop2{
    border: #000 1px solid;
	text-align:center; 
	background-color:#D7E6F3;
	font:KursivC;
	font-size:16px;
	font-style:oblique;
	font-size-adjust:inherit;	
	}
.TextH2{
    text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:oblique;
	font-size-adjust:inherit;	
	}
.TextBtn{
	text-align:center; 
	font:KursivC;
	font-size:16px;
	font-style:oblique;
	font-size-adjust:inherit;	
	}
.TextTopOnString {color:#FFFFFF;}
.TextBlink {text-decoration:blink}		
.TextText{
     font:"Times New Roman", Times, serif;
	 font-style:inherit;
	 text-align:justify;
	 }
.GreyText{
     font:"Times New Roman", Times, serif;
	 font-style:inherit;
	 text-align:justify;
	 color:#666666;
	 }
.BText{
     font:"Times New Roman", Times, serif;
	 font-style:inherit;
	 text-align:justify;
	 font-weight:bold;
	 }
.Code{
     font:"Lucida Console", "Courier New";
     font-style:normal;
	 font-size:12px;
	 }	 
.TextInTema{
	font: 14px "Times New Roman", verdana, sans-serif, helvetica ;
	color:#000;
	padding: 4px;
    }
.fcaption {
	border: #000 1px solid;
	padding: 2px 0px 2px 8px;
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	background: #B7C6E3 url("fcap0000.png.css"/*tpa=http://alexandrew.narod.ru/fcap0000.png*/) repeat-x bottom;
	color:#fff;
    }	
.TextLeft {
background-color:#CCCCCC;
font-style:oblique;
text-shadow:inherit;
text-align:right;
vertical-align:top;
}

.ban {
border: #000 1px solid;
}
.ban117 {
border: #000 1px solid;
width:117px;
max-width:117px;
}
.banOrange {
border: #000 1px solid;
background:url(OrangeFo.bmp);
font-style:inherit;
}

.TableGenres {
width:100%;
border-width: 1px;
background-color:#EEEEEE;
background:url("images/Setka.bmp"/*tpa=http://alexandrew.narod.ru/images/Setka.bmp*/);
}